@charset "utf-8";

body {
    margin: 1rem auto 0;
}

h1,
h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    color: #555;
}

h2 {
    color: #a59f49;
}

p {
    margin: 0;
}

small {
    display: block;
    text-align: center;
}

/*-------------------------
index.ejs
-------------------------*/
#index body {
    max-width: 700px;
    min-width: 500px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin: 0.3rem;
    margin-top: -1.5rem;
}

#calender {
    margin-top: 1rem;
    padding: 1rem;
}

table {
    width: 100%;
    height: 450px;
}

tr:nth-child(2n-1):not(:first-child) {
    display: none;
}

td {
    width: calc(100% / 7);
    height: 2rem;
        text-align: center;
        background-color: #edc549;
        color: #fff;
    }
    
    td:first-child {
        color: #e64751;
    }
    
    .days td {
        height: calc(100% / 7);
        text-align-last: left;
        vertical-align: top;
        background-color: #ccb485;
    }
    
    .schTitle {
        cursor: pointer;
        color: #0ab;
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    /*-------------------------
                    show.ejs
                    -------------------------*/
#showPage h1 {
    color: #0ab;
}

.container {
    padding: 1rem 2rem;
}

#sDate {
    font-weight: bold;
}

.links {
    text-align: center;
}

#showPage button,
#edit button {
    display: block;
    margin: auto;
}

/*-------------------------
form.html
-------------------------*/
form {
    padding: 1rem 2rem;
}

input {
    margin-bottom: 0.5rem;
}

#form .btn {
    display: block;
    margin: auto;
}